.header-wrapper {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #f2f8f9;
    border: #bebebe;
    z-index: 10;
    margin-top: -32.5px;
    li{
        font-size: 20px;
        line-height: 100px;
        a{
            color: #000000;
        }
    }
}

.header-wrapper ul{
    display: flex;
    flex-wrap: nowrap;
    gap: 100px;
    margin: 0 auto;
    list-style: none;
}