.header-wrapper {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #ffffff;
    border: 1px solid #181818;
    z-index: 10;
    .first-img{
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        height: 100%;
    }
    li{
        font-size: 20px;
        line-height: 100px;
        a{
            color: #000000;
            text-decoration: none;
            font-family: "Inter", "Segoe UI Black", Helvetica, sans-serif;
        }
    }
    li:last-child{
        line-height: unset;
        display: flex;
        align-items: center;
    }
}
.header-wrapper ul a{
    text-decoration: none;
    font-family: "Inter", "Segoe UI Black", Helvetica, sans-serif;
}

.header-wrapper ul{
    display: flex;
    flex-wrap: nowrap;
    gap: 100px;
    margin: 0 auto;
    list-style: none;
}

.button1 {
    --primary-color: #d95308;
    --secondary-color: #fff;
    --hover-color: #111;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 5px;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    cursor: pointer;
    font-weight: bold;
}
.button1 .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button1 .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
}

.button1 .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
}

.button1:hover {
    background-color: var(--hover-color);
}

.button1:hover .arrow {
    background: var(--secondary-color);
}

.button1:hover .arrow:before {
    right: 0;
}

