.footer-wrapper{
    height: 275px;
    border: 1px solid #ffffff;
    background-color: #ffc581;
    width: 100%;
    z-index: 10;
    position: relative;
    margin-bottom: -32.5px;
    p{
        margin-top: 75px;
        font-size: 20px;
        margin-bottom: -25px;
        color: #000000;
        font-family: "Segoe UI Black", Helvetica, sans-serif;
    }
    a{
        display: flex;
        margin-top: 65px;
        padding: 0 20px;
        width: 10%;
        margin-left: 150px;
        align-items: center;
    }
        img{
            position: absolute;
            left: 150px;
            top: 60%;
            transform: translateY(-50%);
    }
        h1{
            position: relative;
            z-index: 5;
            left: 25px;
            top: 30%;
            width: 1%;
            font-size: 30px;
        }

}

.footer-wrapper ul li a{
    display: inline;
    padding: 0 20px;
    width: 10%;
    margin-bottom: 10px;
    align-items: center;
    color: #000000;
}
.line{
    height: 1px;
    background-color: black;
    width: 90%;
    margin-left: 90px;
    margin-top: 25px;
}
.footer-wrapper ul{
    display: flex;
    flex-wrap: nowrap;
    justify-content: right;
    align-items: center;
    width: 75%;
    margin-top: -30px;
    position: relative;
    margin-bottom: 30px;
    margin: 0 auto;
    list-style: none;
    color: #000000;
    font-family: "Segoe UI Black", Helvetica, sans-serif;
}
