.footer-wrapper{
    height: 100px;
    border: 1px solid #ffffff;
    background-color: #ffc581;
    width: 100%;
    z-index: 10;
    position: relative;
    margin-bottom: -32.5px;
    p:first-child{
        font-size: 24px;
        margin: 20px;
    }
    p{
        font-size: 18px;
        color: #606060;
    }
}